services:
  night-train-map:
    build:
      # Build context set to repository root to access data/latest/ directory
      context: .
      dockerfile: ./webapp/Dockerfile
    container_name: night-train-map
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--quiet",
          "--tries=1",
          "--spider",
          "http://0.0.0.0:32516/",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
